{
  "extends": "airbnb",
  "rules": {
    "arrow-parens": [2, "always"],
    "function-paren-newline": [2, "consistent"],
    "import/no-extraneous-dependencies": 0,
    "import/no-dynamic-require": 0,
    "import/no-named-as-default": 0,
    "no-confusing-arrow": 0,
    "no-console": 1,
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    "object-curly-newline": [2, { "consistent": true }]
  }
}
